@model CSV.Models.Pessoas

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pessoas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PessoasId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
